{{ define "main" }}

<main>
    <div class="column left">
        <img src="images/portrait.jpg" class="portrait" alt="Portrait" />
    </div>
    <div class="column right">
        <h2>{{ .Site.Author.name }}.</h2>
        <p>{{- partial "introduction.html" . -}}</p>
        
        <div class="links">
            {{- range .Site.Params.links -}}
                <a rel="me" href="{{ .url }}" title="{{ .title }}">
                    <span class="{{ .iconset | default "fab" }} fa-{{ .icon }}"></span>
                </a>
            {{- end -}}
        </div>
    </div>
</main>

{{ end }}
