{{ define "main" }}
<div class="min-h-80 contact-form">
    <div class="container">
    <hgroup class="text-center">
      {{ partial "breadcrumbs.html" . }}
      <h1>{{ .Title }}</h1>
      <h2>{{ .Description }}</h2>
    </hgroup>

    <div style="text-align: center;">
      <a href="https://discord.gg/VWWXxJaKBj" target="_blank">
        <img src="/uploads/badge_discord.png"></img>
      </a>
      &nbsp;
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSfroxnefmO4hLV4BTGM6NC8Ix1ZE1psYtN3BFH95cmVTyhRYw/viewform?usp=sf_link" target="_blank">
        <img src="/uploads/badge_contact.png"></img>
      </a>

      <!-- <iframe id="contact-iframe" src="https://docs.google.com/forms/d/e/1FAIpQLSfroxnefmO4hLV4BTGM6NC8Ix1ZE1psYtN3BFH95cmVTyhRYw/viewform?embedded=true" width="640" height="687" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe> -->
    </div>

    <!-- <form name="contact" method="POST" action="{{ .Site.Params.contactFormAction | relURL }}" >
        <input name="_redirect" type="hidden" id="name" value="{{"/thanks/" | absURL}}">
        <input name="_formsubmit_id" type="text" hidden>
        <div class="grid">
      
          <label for="firstname">
            Name
            <input type="text" id="firstname" name="firstname" placeholder="Name" required>
          </label>
      
          <label for="lastname">
            Last name
            <input type="text" id="lastname" name="lastname" placeholder="Last name">
          </label>
      
        </div>
      
        <label for="email">Email address</label>
        <input type="email" id="email" name="email" placeholder="Email address" required>
        <small>We'll never share your email with anyone else. This is to reply to your message.</small>

        <label for="email">Your message</label>
        <textarea name="message" id="message" cols="30" rows="5" style="resize: none;" required></textarea>
      
        <input type="submit">
      
      </form> -->
    </div>
</div>
{{ end }}